:root {
   font-size: 24px;
}

span {
   background-color: yellow;
   /*
      * Relative does not break the flow of the document.
      * Obeys offset properties.
      * Obeys stacking context (z-index).
   */
   position: relative;
   top: 20px;
   right: 20px;
}
